@import "~bootstrap/scss/bootstrap.scss";

#app {
    margin-top: 40px;
}

.traffic-light {
    background-color: black;
    height: auto;
    width: 120px;
    padding: 10px 10px;
    border-radius: 20%;
}
.red-light {
    background-color: red;
    border-radius: 50%;
    height: 100px;
    width: 100px;    
}
.yellow-light {
    background-color: yellow;
    border-radius: 50%;
    height: 100px;
    width: 100px;
   
}
.green-light {
    background-color: green;
    border-radius: 50%;
    height: 100px;
    width: 100px;
   
}
.light-on {
        width: 100px;
        height: 100px;
        box-shadow: 0px 0px 40px 0px #0ff;
   
}
